
   
.pagewrap  {
 
  
  position: absolute;
  bottom: 0;
  left: 50%;
  list-style-type: none;
  transform: translateX(-50%);
  text-align: center;

li
{
  display: inline-flex;
 
  padding: 0.5em;

  
}

}
