.header
{
    border-bottom: none;
   
}
.prod-list{
    margin-top: 6em;
}
// .ui.cards > .card > .image 
// {
//   height: 15rem;
//   padding: 1.25em ;
//   background-color:#fff ;
//   margin: auto;
// }
// .ui.cards > .card > .image >img{
//     height: 100%;
//     max-width: 100%;
//     width: 60%;
// }
// .ui.cards > .card > .image >img{
//     height: 100%;
//     max-width: 100%;
//     width: 80%;
// }
.listwrapper
{
    position: relative;
}