a{
    text-decoration: none;
}
@import '../Sass/variables';
@import '../Components/Header/Navbar';
@import '../Components/Footer/Footer';
@import '../Sass/aemGrid';
@import '../Components/sidebar/Sidebar';
@import '../containers/ProductList';
@import '../ShoppingBag/shoppingCart';
@import '../containers/productDetails';
@import '../containers/productComponent';
@import '../Sass/mixins';
@import '../Components/Banner/Banner';
@import '../containers/Pagination';
@import '../Sass/mobile';
@import '../Sass/tablet';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Mulish', sans-serif;
}

