.banner{
    display: flex;
    padding: 1em;


    img
    {
       padding: 1rem 1rem 1rem 0px;
       flex: 2;
        
    }
}
.banner-left
{
    @extend .display-xl-48-dekstop-only ;
    position: relative;
    text-align: center;
    color: white;

    padding: 1em 1em 1em 1em;
    flex: 1;
    background-color: black;

    h1{
        @extend .display-xl-48-dekstop-only ;
       
    
      
    }
  
}
.banner-bottom
{

    @extend .display-xl-48-dekstop-only ;
    position: absolute;
    margin: auto;
    height: 0.5rem;
    
    width: 10rem;
    background-color:  $primary-brand;
    border-radius: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%



}

